* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Section 1 */

.flex-container {
    display: flex;
    padding: 7%;
}

.header {
    font-size: 70px;
    font-weight: 700;
    margin-left: 20px;
}

.head-color {
    color: #501BBD;
}

.content {
    width: 50%;
    padding-left: 5%;
}

.content img {
    width: 60%;
}

.content p {
    text-align: justify;
    font-size: 24px;
    margin-bottom: 40px;
}

.linear-border {
    border-left: 5px solid;
    border-color: #BD4891;
    border-radius: 4px;
}

.link-button {
    text-decoration: none;
    background-color: #7338A9;
    padding: 17px 50px;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
}

.tip-text {
    margin-top: 50px;
}

/* Section 2 starts from here */

.section2-header {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 70px;
}

.mission-color {
    color: #303952;
}

.year-color {
    color: #5f27cd;
}

.illustrated-img {
    display: flex;
}

.illust-area {
    width: 25%;
    height: 200px;
    margin: auto;
    margin-left: 8%;
    padding: 50px;
    border-radius: 20px;
}

.illust-area img {
    width: 40%;
}

#illustration-1 {
    background-color: #d4cdfac4;
}

#illustration-2 {
    background-color: #dff9fbd7;
}