* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Section 1 */

.flex-container {
    display: flex;
    padding: 7%;
}

.header {
    font-size: 70px;
    font-weight: 700;
    margin-left: 20px;
}

.head-color {
    color: #501BBD;
}

.content {
    width: 50%;
    padding-left: 5%;
}

.content img {
    width: 60%;
}

.content p {
    text-align: justify;
    font-size: 24px;
    margin-bottom: 40px;
}

.linear-border {
    border-left: 5px solid;
    border-color: #BD4891;
    border-radius: 4px;
}

.link-button {
    text-decoration: none;
    background-color: #7338A9;
    padding: 17px 50px;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
}

.tip-text {
    margin-top: 50px;
}

/* Section 2 */

.section2-header {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 70px;
}

.year-color {
    color: #5f27cd;
}

.illustrated-img {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.illust-area {
    width: 300px;
    height: 340px;
    margin-left: 30px;
    padding: 50px;
    border-radius: 20px;
}

.illust-area img {
    width: 55%;
}

#illustration-1 {
    background-color: #f7cbf19a;
}

#illustration-2 {
    background-color: #c8d6e5a9;
}

#illustration-3 {
    background-color: #fab6b696;
}

.info-header {
    font-size: 30px;
    margin-top: 15px;
}

.info-p {
    margin-top: 20px;
    font-size: 20px;
}

/* Section 3 */

.coding-container {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.coding {
    width: 33%;
}

.coding img {
    width: 75%;
}

.coding-header {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 20px;
}

.coding-p {
    font-size: 25px;
    margin-bottom: 50px;
}

.link-button-2 {
    text-decoration: none;
    background-color: #7338A9;
    padding: 17px 50px;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
}

/* Section 4 */

.project-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.project {
    width: 33%;
    padding-left: 5%;
}

.project img {
    width: 75%;
}

.project-header {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 20px;
}

.project-p {
    font-size: 25px;
    margin-bottom: 50px;
}

.link-button-3 {
    text-decoration: none;
    background-color: #7338A9;
    padding: 17px 50px;
    color: #fff;
    font-size: 17px;
    border-radius: 6px;
}

/* Form Area */

.form-area {
    /* text-align: center; */
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    border: 15px solid #7338A9;
    border-radius: 10px;
}

.form-area h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.form-heading-color {
    color: #7338A9;
}

.form-label {
    font-size: 15px;
    font-weight: bold;
}

.txt-area {
    font-size: 15px;
    width: 100%;
}

.submit-btn {
    font-size: 15px;
    padding: 15px 40px;
    background-color: #754b9c;
    color: white;
    margin-top: 8px;
    border-radius: 5px;
}

/* Footer */

footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}

footer h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.footer-year {
    color: #7617cf;
}

footer p {
    text-align: center;
    margin-top: 25px;
    color: rgb(177, 177, 177);
}


